body {
  background-color: #ff63b5;
}

.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #af3264;
}

.weather-app {
  background: #ffbbbb;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #ff63b5;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #af3264;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-data {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.weather-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.weather-details strong {
  color: #fd2eb3;
}

.weather-temperature-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.weather-icon {
  width: 88px;
  height: 88px;
}

.weather-temperature {
  font-size: 88px;
  margin-left: 10px;
  font-weight: bold;
}

.weather-unit {
  font-size: 28px;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
